
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
/*============= COURSE SECTION =============*/
body{
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
    color: #505962;
}
.offset:before{
    display: block;
    content: "";
    height: 4rem;
    margin-top: -4rem;
}
/* Navigation */
.navbar{
    text-transform: uppercase;
    font-weight: 700;
    font-size: .9rem;
    letter-spacing: .1rem;
    background: rgba(0, 0, 0, 0.6)!important;
}
.navbar-brand img{
    height: 2rem;
    border-radius: 50%;
}
.navbar-brand{
    color:#1ebba3!important;
}

.navbar-nav li{
    padding-right: .7rem;
}
.navbar-dark .navbar-nav .nav-link{
    color: white;
    padding-top: .8rem;
}
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover{
    color:#1ebba3;
}

/* Landing Page */






/* Search Box */

.searchbox{
    margin-top:-12rem;
    color:white!important;
}

.form-control-borderless {
    border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}
.btn-success{
    background-color:#1ebba3;
    color:white!important;
}


/* End Search Box */









.home-inner{
    background-image: url(../img/homeimage1.jpg);
}
.caption{
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: 38%;
    z-index: 1;
    color: #189582!important;
    text-transform: uppercase;
}
.caption h1{
    font-size: 3.8rem;
    font-weight: 700;
    letter-spacing: .3rem;
   /* text-shadow: .1rem .1rem .8rem black;*/
    padding-bottom: 1rem;
}
.caption h3{
    font-style: 2rem;
   /* text-shadow: .1rem .1rem .5rem black;*/
    padding-bottom: 1.6rem;
}
.btn-lg{
    border-width: medium;
    border-radius: 0;
    padding: .6rem 1.3rem;
    font-size: 1.1rem;
    color: white;
    border-color: #1ebba3;
    background-color:#189582;
}
.btn-lg:hover{
    background-color: #189582;
    border-color: #189582;
}

/* About Section */

h3.about-heading{
    font-size: 1.9rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 1.9rem;
    margin-top: 4rem;
}
.narrow{
    width: 75%;
    margin: 1.5rem auto;
    padding-top: 2rem;
}
.narrow h1{
    font-size: 2.4rem;
}
.btn-secondary{
    border-width: medium;
    border-radius: 0;
    text-transform: uppercase;
    font-size: 1.2rem;
    padding: .6rem 1.2rem;
    margin: 1rem;
    color: white;
    background-color: #1ebba3;
    border-color: #1ebba3;
}
.btn-secondary:hover{
    background-color: #189582;
    border-color: #189582;
}

/* Features Section */
.jumbotron{
    margin-bottom: 0;
    padding: 2rem 0 3.5rem;
    border-radius: 0;
}
h3.heading{
    font-size: 1.9rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 1.9rem;
}
.heading-underline{
    width: 3rem;
    height: .2rem;
    background-color: #1ebba3;
    margin: 0 auto 2rem;
}
.feature svg.svg-inline--fa{
    color: #1ebba3;
}
.feature h3{
    font-size: 1.3rem;
    text-transform: uppercase;
    padding-bottom: .4rem;
}
.feature p{
    font-size: 1.1rem;
}

/* Labs Section */
.fixed{
    background-image: url(../img/rawpixel-600792-unsplash.jpg);
    z-index: -1;
}
.dark{
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    padding: 7rem 2rem;
}
.fixed-background h3{
    margin-bottom: 2rem;
}
.fixed-background p{
    margin-top: 1.5rem;
}

/* Clients Section */

.clients img{
    width: 100%;
    border-radius: 50%;
}
blockquote .svg-inline--fa{
    color: #1ebba3;
    margin: 1rem;
}
.clients-hr{
    border-top: .05rem solid #1ebba3;
}

/* Contact Section */

footer{
    background-color: #40474e;
    color: white;
    padding: 2rem 0 2rem;
    margin-top: 1rem;
}
footer img{
    height: 6rem;
    margin: 1.2rem .5rem 0 0;
    border-radius: 50%;
}
footer a{
    color:white;
}
footer svg.svg-inline--fa{
    font-size: 1.6rem;
    margin: 1.2rem .5rem 0 0;
}
footer svg.svg-inline--fa:hover{
    color:#1ebba3!important;
}
hr.socket{
    width: 100%;
    border-top: .2rem solid #666b71;
    margin-top: 3rem;
}


/* Media Queries */

@media(max-width: 767px){
    .caption h1{
        font-size: 2.3rem;
        letter-spacing: .15rem;
        padding-bottom: .5rem;
    }
    .caption h3{
        font-size: 1.2rem;
        padding-bottom: 1.2rem;
    }
    .btn-lg{
        padding: .5rem 1rem;
        font-size: 1rem;
    }
    .narrow h1{
        font-size: 1.5rem;
    }
    .clients img{
        max-width: 50%;
        display: block;
        margin: 0 auto;
    }
}


