{% extends 'deep_diagnose/base.html' %}
{% block body %}
<div class="companies text-center" style="padding-top:15rem;">
    {% for company in all_companies %}
    <div class="title"><li><a href="{% url 'deep_diagnose:company_detail' company.id %}">{{company.company_name}}</a>
        <form method="POST" action="{% url 'deep_diagnose:company-delete' company.id %}">
            {% csrf_token %}<button type="submit" class="btn btn-default btn-sm" >
           delete
        </button>
        </form>
            <form method="POST" action="#">
                {% csrf_token %}<button type="submit" class="btn btn-default btn-sm" >
                update
            </button>
            </form>
            <br><br>
    </div>
    {% endfor %}
</div>
{% endblock %}