{% extends 'deep_diagnose/base.html' %}
{% block body %}
<div class="container align-items-center testbox text-center" style="padding-top:7rem;">
    <form method="GET" action="/response" class="form-inline my-2 my-lg-0"0>
        <input
                class="form-control mr-md-2"
                type="search"
                placeholder="Search"
                aria-label="Search"
                name="search"
                value="{{search_term}}">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
</div>
<div class="testresult text-center">

    {% for polls in polls %}
    <li><a href="/response1/{{polls}}">{{ polls }}</a></li>
    {% endfor %}

</div>
<div class="container table-responsive-sm">
<!--    <table class="table table-bordered">-->

<!--        <tbody>-->
<!--        {% for company in filter.qs %}-->
<!--        <tr>-->
<!--            <th scope="row"><img src="{{ company.logo.url }}" height="200px" width="300px"></th>-->
<!--            <td style="padding-top:7rem;">{{company.company_name}}</td>-->
<!--            <td style="padding-top:7rem;">{{ company.address_line1 }}-->
<!--                <br>-->
<!--                {{ company.city }} {{ company.state }}</td>-->
<!--            <td style="padding-top:7rem;"><a href="{% url 'deep_diagnose:company_detail' company.id %}">FIND</a></td>-->
<!--        </tr>-->
<!--        {% endfor %}-->
<!--        </tbody>-->
<!--    </table>-->
    <table class="table table-hover">
  <tbody>
   {% for company in filter.qs %}
    <tr>
      <th scope="row"><img src="{{ company.logo.url }}" height="200px" width="300px"></th>
        <td class="h5"><strong>{{company.company_name}}</strong></td>
      <td>{{ company.address_line1 }}
                <br>
                {{ company.city }} {{ company.state }}</td>
      <td><a class="btn btn-outline-success" href="{% url 'deep_diagnose:company_detail' company.id %}">FIND</a></td>
    </tr>
   {% endfor %}
  </tbody>
</table>
</div>

<!--{% for company in filter.qs %}-->
<!--<img src="{{company.logo.url }}" width="25%" height="45%">-->
<!--<br>-->
<!--<a href="{% url 'deep_diagnose:company_detail' company.id %}">{{company.company_name}}></a><br>-->
<!--{{ company.address_line1 }}-->
<!--<br>-->
<!--{{ company.city }} {{ company.state }}-->
<!--<br><br>-->

<!--{% endfor %}-->


{% endblock %}