<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

</head>
<body><!-- As a link -->
<!-- As a heading -->
<nav class="navbar navbar-light bg-light">
    <span class="navbar-brand mb-0 h1 mx-auto">Company Registration</span>
</nav><br><br>
<center>
    <br>	<div class="container">
    <div class="col-6 mr-auto">
        <div class="alert alert-primary" role="alert">
            {{ not }}
        </div>

        <div class="card">
            <div class="card-header">
                Register
            </div>
            <div class="card-body ">
                <div class="col-12">
                    <form action="" method="POST" name='form' class="sm-auto">
                        {% csrf_token %}
                        <div class="form-group">
                            <label>Company:</label><br>
                            <input type="text" class="form-control" id="id_company" name="company" placeholder="Enter Company">
                        </div>
                        <div class="form-group">
                            <label>Password:</label><br>
                            <input type="password" class="form-control" id="id_password" name="password" placeholder="Enter Password">
                        </div>
                        <div class="form-group">
                            <label>Confirm Password:</label><br>
                            <input type="password" class="form-control" id="id_confirm_password" name="confirm_password" placeholder="Enter Password Again"><br><br>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</center>
</div>
</body>