{% extends 'deep_diagnose/base.html' %}
{% block head %}
<style>
* {
  box-sizing: border-box;
}
.header {
width:58.45%;
font-size:14%;
  border: 1px solid grey;
  padding: 15px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
[class*="col-"] {
  float: left;
  padding: 5px;
  border: 1px solid grey;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;height=0%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 10%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
</style>
{% endblock head %}
{% block body %}

<div class="company_details text-center" style="padding-top:8rem;">
 {% if error_message %}
 <p><strong>{{ error_message }}</strong></p>
 {% endif %}
 <div class="table-responsive-sm">
  <table class="table table-bordered">
   <thead>
   <tr>

    <th scope="col">COMPANY NAME</th>
    <th scope="col">COST</th>
    <th scope="col">TESTS AVAILABLE</th>

   </tr>
   </thead>
   <tbody>
   {% for companytests in company.companytests_set.all %}
   <tr>

    <td>{{ companytests.tests }}</td>
    <td>Rs-{{ companytests.cost }}
     <br>
     {{ companytests.company.city }} {{ companytests.company.state }}</td>
    <td><a href="{% url 'deep_diagnose:ordernow' pk=companytests.id%}">BOOK NOW!</a></td>
   </tr>
   {% endfor %}
   </tbody>
  </table>
 </div>
 <br><br>

</div>

{% endblock %}