{% extends "deep_diagnose/base.html" %}
{% load crispy_forms_tags %}
{% block body %}

<main role="main" class="container" style="padding-top:5rem;">
    <div class="row">
        <div class="col-md-8">
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
            {% endfor %}
            {% endif %}
            <div class="content-section">
                <div class="media">
                    <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
                    <div class="media-body">
                        <h2 class="account-heading">{{user.username}}</h2>
                        <p class="text-secondary">{{user.email}}</p>
                    </div>
                </div>
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4">PROFILE INFO</legend>
                        {{u_form|crispy}}
                        {{p_form|crispy}}
                    </fieldset>
                    <div class="form-group">
                        <button class="btn btn-outline-info" type="submit">Update</button>
                    </div>
                </form>
            </div>

        </div>
        <div class="col-md-4">
            <div class="content-section">
                <h3>Our Sidebar</h3>
                <p class='text-muted'>You can put any information here you'd like.
                <ul class="list-group">
                    <li class="list-group-item list-group-item-light">HOME</li>
                    <li class="list-group-item list-group-item-light">TESTS LIST</li>
                    <li class="list-group-item list-group-item-light">COMPANIES LIST</li>
                    <li class="list-group-item list-group-item-light">ORDER NOW</li>
                </ul>
                </p>
            </div>
        </div>
    </div>
</main>
{% endblock %}