{% extends 'deep_diagnose/base.html' %}
{% load static %}
{% block body %}
<!--<form method="get" action="{% url 'deep_diagnose:result' %}">-->
<!--&lt;!&ndash;city&ndash;&gt;-->
<!--&lt;!&ndash;<input type="text" name="city">&ndash;&gt;-->
<!--&lt;!&ndash;state&ndash;&gt;-->
<!--&lt;!&ndash;<input type="text" name="state">&ndash;&gt;-->
<!--<input type="hidden" name="country" id="countryId" value="IN"/>-->
<!--<select name="state" class="states order-alpha" id="stateId" style="text-transform:uppercase;">-->
<!--<option value="">Select State</option>-->
<!--</select>-->
<!--<select name="city" class="cities order-alpha" id="cityId" style="text-transform:uppercase;">-->
<!--<option value="">Select City</option>-->
<!--</select>-->
<!--<button type="submit">Find</button>-->
<!--</form>-->
<!-- Start Landing Page -->
<div class="landing">
    <div class="home-wrap">
        <div class="home-inner"></div>
    </div>
</div>
<div class="caption text-center">
    <h1>DEEP DIAGNOSE</h1>
    <h3>THE ONE STOP POINT FOR ALL THE DIAGNOSTICS.</h3>
    <!-- <a class="btn btn-outline-light btn-lg" href="#about">Get Started</a> -->
</div>
<!-- Start Search Box -->
<div class="container" style="background-color:#1ebba3;">
<div class="row justify-content-center searchbox">
    <div class="col-12 col-md-10 col-lg-8 text-center">
        <form method="get" action="{% url 'deep_diagnose:result' %}">
            <!--city-->
            <!--<input type="text" name="city">-->
            <!--state-->
            <!--<input type="text" name="state">-->
            {% csrf_token %}
            <input type ='text' id="search" name="search" class="states order-alpha text-center" placeholder="Enter Testname" style="text-transform:uppercase;padding-top:0.5rem; padding-bottom:0.5rem; border:2px solid #1ebba3;"/>

            <input type="text" name="state" class="states order-alpha text-center" placeholder="Enter State" id="stateId" style="text-transform:uppercase;padding-top:0.5rem; padding-bottom:0.5rem; border:2px solid #1ebba3;" required>

            <input type="text" name="city" class="cities order-alpha text-center" placeholder="Enter City" id="cityId" style="text-transform:uppercase;padding-top:0.5rem; padding-bottom:0.5rem; border:2px solid #1ebba3;" required>

            <button class="btn btn-outline-light btn-lg" type="submit">FIND</button>
        </form>
    </div>
    <!--end of col-->
</div><!--  End Search Box -->
<!-- End Landing Page -->
</div>

<!-- Start Features Section -->
<div id="features" class="offset">
    <!-- Start Jumbotron -->
    <div class="jumbotron">
        <div class="narrow">
            <div class="col-12">
                <h3 class="heading text-center">Features</h3>
                <div class="heading-underline"></div>
            </div>

            <div class="row text-center">
                <div class="col-md-4">
                    <div class="feature">
                        <i class="fas fa-medkit fa-7x" data-fa-transform="shrink-3 up-4"></i>
                        <h3>Free Home Sample Pick Up</h3>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="feature">
                        <i class="fas fa-sliders-h fa-7x" data-fa-transform="shrink-4.5 up-4"></i>
                        <h3>Best Prices Guaranteed</h3>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="feature">
                        <i class="fab fa-wpforms fa-7x" data-fa-transform="shrink-4.5 up-4.5"></i>
                        <h3>View Reports Online</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Jumbotron -->
</div>
<!-- End Features Section -->
<!-- Start Labs Section -->
<div id="labs" class="offset">
    <div class="fixed-background">
        <div class="row dark text-center">
            <div class="col-12">
                <h3 class="heading">PROCEDURE</h3>
                <div class="heading-underline"></div>
            </div>

            <div class="col-md-4">
                <h3>STEP 1.</h3>
                <div class="feature">
                    <i class="fas fa-map-marked-alt fa-6x"></i>
                </div>
                <p class="lead">Find Labs Near You</p>
            </div>
            <div class="col-md-4">
                <h3>STEP 2.</h3>
                <div class="feature">
                    <i class="fas fa-clipboard fa-6x"></i>
                </div>
                <p class="lead">Select The Test</p>
            </div>
            <div class="col-md-4">
                <h3>STEP 3.</h3>
                <div class="feature">
                    <i class="fas fa-hand-point-up fa-6x"></i>
                </div>
                <p class="lead">Apply For Sample Collection</p>
            </div>
        </div> <!-- End Row Dark -->

        <div class="fixed-wrap">
            <div class="fixed">
            </div>
        </div>
    </div><!-- End Fixed Background -->
</div>
<!-- End Labs Section -->
<!-- Start Clients Section -->
<!--<div id="clients" class="offset">-->
<!--    &lt;!&ndash; Start Jumbotron &ndash;&gt;-->
<!--    <div class="jumbotron">-->
<!--        <div class="col-12 text-center">-->
<!--            <h3 class="heading">Clients</h3>-->
<!--            <div class="heading-underline"></div>-->
<!--        </div>-->

<!--        <div class="row">-->
<!--            <div class="col-md-6 clients">-->
<!--                <div class="row">-->
<!--                    <div class="col-md-4">-->
<!--                        <img src="{% static 'deep_diagnose/img/client1.png'%}">-->
<!--                    </div>-->
<!--                    <div class="col-md-8">-->
<!--                        <blockquote>-->
<!--                            <i class="fas fa-quote-left"></i>-->
<!--                            There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.-->
<!--                            <hr class="clients-hr">-->
<!--                            <cite>&#8212; Eric, Small Business Owner</cite>-->
<!--                        </blockquote>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="col-md-6 clients">-->
<!--                <div class="row">-->
<!--                    <div class="col-md-4">-->
<!--                        <img src="{% static 'deep_diagnose/img/client2.png' %}">-->
<!--                    </div>-->
<!--                    <div class="col-md-8">-->
<!--                        <blockquote>-->
<!--                            <i class="fas fa-quote-left"></i>-->
<!--                            There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.-->
<!--                            <hr class="clients-hr">-->
<!--                            <cite>&#8212; Rachel, Small Business Owner</cite>-->
<!--                        </blockquote>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

<!--        </div>&lt;!&ndash; End Row &ndash;&gt;-->
<!--    </div>&lt;!&ndash; End Jumbotron &ndash;&gt;-->

<!--    <div class="col-12 narrow text-center">-->
<!--        <p class="lead">Want to book lab tests in bulk?</p>-->
<!--        <p>Get customized health packages at best prices</p>-->
<!--        <a class="btn btn-secondary btn-md" href="#" target="_blank">Book Now</a>-->
<!--    </div>-->

<!--</div>-->
<!-- End Clients Section -->
<!-- Start Contact Section -->
<div id="contact" class="offset">
    <footer>
        <div class="row justify-content-center">
            <div class="col-md-5 text-center">
                <img src="{% static 'deep_diagnose/img/logo.jpg'%} ">
                <h5 class="pt-3">UNCOMPROMISED QUALITY. RELIABLE RESULTS. ALWAYS.</h5>
                <strong>Contact Info.</strong>
                <p>(888)888-888-888<br>email@deepdiagnose.com</p>
                <a href="#" target="_blank"><i class="fab fa-facebook-square"></i></a>
                <a href="#" target="_blank"><i class="fab fa-twitter-square"></i></a>
                <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
            </div>
            <hr class="socket">
            &copy;Deep Diagnose.
        </div>
    </footer>

</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//geodata.solutions/includes/statecity.js"></script>
{% endblock %}